In [2]:
import pandas as pd

df = pd.read_csv ('tampa.csv')
print(df)

import matplotlib.pyplot as plt
import numpy as np

        Loan_Identifier  PayYear  PayMonth  OriginationYear  OriginationMonth  \
0          100004792573     2008         3             2008                 1
1          100004792573     2012        12             2008                 1
2          100011325973     2003         8             2003                 6
3          100011325973     2004         8             2003                 6
4          100011402460     2003         5             2003                 4
...                 ...      ...       ...              ...               ...
398221     999986301575     2004         7             2001                10
398222     999993773646     2002         8             2002                 6
398223     999993773646     2004         2             2002                 6
398224     999996887539     2005        12             2005                10
398225     999996887539     2009         3             2005                10

               Seller_Name                       Servicer_Name  \
0                    Other           Usaa Federal Savings Bank
1                    Other                                 NaN
2             Regions Bank                        Regions Bank
3             Regions Bank                                 NaN
4        Flagstar Bank Fsb                               Other
...                    ...                                 ...
398221   Citimortgage Inc.                                 NaN
398222  Witmer Funding Llc                   Gmac Mortgage Llc
398223  Witmer Funding Llc                                 NaN
398224   Citimortgage Inc.  Citimortgage Asset Management Inc.
398225   Citimortgage Inc.                                 NaN

        Original_Interest_Rate  Current_Interest_Rate  Original_UPB  ...  \
0                        6.125                  6.125      146000.0  ...
1                        6.125                    NaN      146000.0  ...
2                        4.875                  4.875       54000.0  ...
3                        4.875                    NaN       54000.0  ...
4                        5.750                  5.750      125000.0  ...
...                        ...                    ...           ...  ...
398221                   6.875                    NaN      189000.0  ...
398222                   6.375                  6.375       90000.0  ...
398223                   6.375                    NaN       90000.0  ...
398224                   5.750                  5.750      260000.0  ...
398225                   5.750                    NaN      260000.0  ...

        Property_State    MSA  Zip_Code_Short  Amoritization_Type  \
0                   FL  45300             335                 FRM
1                   FL  45300             335                 FRM
2                   FL  45300             337                 FRM
3                   FL  45300             337                 FRM
4                   FL  45300             335                 FRM
...                ...    ...             ...                 ...
398221              FL  45300             335                 FRM
398222              FL  45300             337                 FRM
398223              FL  45300             337                 FRM
398224              FL  45300             335                 FRM
398225              FL  45300             335                 FRM

        Interest_Only_Loan  Zero_Balance_Code  Zero_Balance_Effective_Date  \
0                        N                NaN                          NaN
1                        N                1.0                     122012.0
2                      NaN                NaN                          NaN
3                      NaN                1.0                      82004.0
4                        N                NaN                          NaN
...                    ...                ...                          ...
398221                 NaN                1.0                      72004.0
398222                 NaN                NaN                          NaN
398223                 NaN                1.0                      22004.0
398224                 NaN                NaN                          NaN
398225                 NaN                1.0                      32009.0

        Last_paid_installment_date Foreclosure_date Foreclosure_costs
0                              NaN              NaN               NaN
1                              NaN              NaN               NaN
2                              NaN              NaN               NaN
3                              NaN              NaN               NaN
4                              NaN              NaN               NaN
...                            ...              ...               ...
398221                         NaN              NaN               NaN
398222                         NaN              NaN               NaN
398223                         NaN              NaN               NaN
398224                         NaN              NaN               NaN
398225                         NaN              NaN               NaN

[398226 rows x 29 columns]

In [3]:
read_dis_df = pd.read_csv ('disasters.csv')

# filter to match what is in the city
counties = ['Hillsborough County', 'Pinellas County']
filtered_df = read_dis_df[read_dis_df['County'].isin(counties)]

# get all unique hurricane names
hurricane_names = filtered_df['Declaration Title'].str.extract(r'(HURRICANE\s+\w+)', expand=False).dropna()
hurricane_names = hurricane_names.unique()

disaster_df = pd.DataFrame({'hurricanes': hurricane_names})

# Create a dictionary mapping Hurricane names to Declaration Dates
hurricane_date_mapping = {}

for hurricane_name in disaster_df['hurricanes']:
    # Find matching Declaration Titles (considering variations)
    matching_titles = filtered_df[filtered_df['Declaration Title'].str.contains(hurricane_name, case=False)]['Declaration Title']
    if not matching_titles.empty:
        # Use the first matching Declaration Date
        hurricane_date_mapping[hurricane_name] = filtered_df.loc[filtered_df['Declaration Title'] == matching_titles.iloc[0], 'Declaration Date'].values[0]

# add in declaration date to new df
disaster_df['date'] = pd.to_datetime(disaster_df['hurricanes'].map(hurricane_date_mapping))

# add 6 months prior and after
disaster_df['-6 months'] = disaster_df['date'] - pd.DateOffset(months=6)
disaster_df['+6 months'] = disaster_df['date'] + pd.DateOffset(months=6)

# convert tampa data to date
df['t_date'] = pd.to_datetime(df[['PayYear', 'PayMonth']].assign(day=1))
df['date'] = pd.to_datetime(df[['year', 'month']].assign(day=1))

print(df)

# check if in between 2 dates
#for hurricane_name in disaster_df['hurricanes']:










print(disaster_df)

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [month,year] is missing